@import "tailwindcss";

/* --- Custom Fonts (TTF Version) --- */

@font-face {
  font-family: "ClashDisplay";
  /* Note the format('truetype') for .ttf files */
  src: url("/public/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/public/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/public/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/public/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* --- Theme Configuration --- */
@theme {
  /* Colors */
  --color-primary: #5829c7;
  --color-secondary: #ffca2d;
  --color-error: #ef4444;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;

  /* Fonts Mapping */
  --font-clash: "ClashDisplay", sans-serif;
  --font-gilroy: "Gilroy", sans-serif;
}

/* --- Global Defaults --- */
body {
  font-family: var(--font-gilroy); /* Sets Gilroy as default everywhere */
  color: var(--color-text-primary);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
